# Data Science Tutorial

Name: Mark McCleane

Student No: C00191900

Module Lecturer: Dr Greg Doyle

Due Date: 3rd April, 2019

Module: Data Science and Artificial Intelligence

# Table of Contents

Introduction    2

Sources of useful information    2

Main Body of Lesson    3

What is data preprocessing?    3

Why use data preprocessing?    3

The six steps in Data Preprocessing    3
    
    Step 1 : Import the libraries    3
    
    Step 2 : Import the data-set    3
    
    Step 3 : Check out the missing values    3
    
    Step 4 : See the Categorical Values    3
    
    Step 5 : Splitting the data-set into Training and Test Set    3
    
    Step 6 : Feature Scaling    3

Suggested Algorithms    4

Conclusion    4

References    5

# Introduction

In this tutorial I will teach you data processing and a machine learning algorithm.

I will teach you when you need to data preprocess, how to data preprocess and then afterwards I will guide you through an example of data preprocessing. After that I will guide you through a tutorial in a machine learning algorithm. I will also detail how useful the selected algorithm is, what the algorithm can be used for and more importantly I will detail how to use it and I will give you some diagrams on it to help better your understanding of that algorithm.
Sources of useful information
If I find some trouble on the journey (as you probably will), there are millions of online resources that can help you with data science problems. 
Some of these are;

    Data Science Stack Exchange - If you’ve programmed before then you would definitely know what stack overflow is. Well Data Science Stack Exchange is the data science version of stack overflow. If you have any question related to data science, someone on Data Science Stack Exchange will have the answer to that question.
 
    Youtube - If your prefered method of help is through videos,
    then youtube is the best video site to learn data science through tutorials, lectures and other types of videos.
    Example channel here.
 
    Online courses such as coursera, datacamp and google machine learning crash course.
    These courses would be a mixture of video lectures, exercises and written notes.

# Main Body of Lesson

# What is data preprocessing?

Data preprocessing is a ‘data mining technique that transforms raw data into an understandable format’[1].

It is basically the technique to remove uncomplete raw data from a dataset to make it usable for a model. This could involve removing null and/or other impossible values.
An example of this is that if you read in the weather temperature for a certain day and the temperature at a certain time was null. This is impossible as the temperature cannot be null. This data would then have to be removed or changed to not make the data invalid or void.

# Why use data preprocessing?

As stated above we need to remove null and other impossible values from the dataset. This could be removing the field from the dataset or editing it to give it a realistic value. For example if the same weather dataset has a null value but a minute before that the temperature was 17 C it would make sense to replace that null value with 17 C as it is unlikely that the temperature would majorly change in one minute.

# The six steps in Data Preprocessing

There are generally six stages of data preprocessing which are;

# Step 1 : Import the libraries

Import the different libraries that you require to use.
The libraries that I would recommend you to use would be at least numpy and pandas.
I installed them through using scikit-learn which is a collection of machine-learning library that contains multiple data science libraries.
Numpy is a package for scientific computing and pandas is used for data manipulation.

In [16]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd

Line 2 is importing numpy and line 3 is importing pandas.
Line 1 is importing the Linear Regression algorithm from the sklearn linear model.
Once these 3 libraries are imported, we can then set the model to whatever algorithm we’d like.
In the below example, we are using linear regression, 
which is an algorithm that models a ‘target prediction value based on independent variables’.[2]

# Step 2 : Import the data-set

Here we're going to read the dataset and output the first five rows.

You can download this dataset here -> https://datahub.io/sports-data/english-premier-league#data

In [6]:
location = "/home/markcollege/Desktop/CLICK_ME/Data_Science/Individual_DS_Project/season-1819_csv.csv"
data = pd.read_csv(location)

In [7]:
data.head(5) #First 5 rows of dataset

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2018-08-10,Man United,Leicester,2,1,H,1,0,H,A Marriner,...,6,4,11,8,2,5,2,1,0,0
1,2018-08-11,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,...,4,1,11,9,7,4,1,1,0,0
2,2018-08-11,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,...,6,9,9,11,5,5,1,2,0,0
3,2018-08-11,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,...,1,4,9,8,2,5,2,1,0,0
4,2018-08-11,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,...,2,5,11,12,3,5,2,2,0,0

# Step 3: Checking For Missing Values

In [8]:
data.isnull().sum()

Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
Referee     0
HS          0
AS          0
HST         0
AST         0
HF          0
AF          0
HC          0
AC          0
HY          0
AY          0
HR          0
AR          0
dtype: int64

As you can see from this example, this dataset has no missing values.

Now if i import a similiar dataset that contains missing values, we should get missing values from dataset.isnull().sum().

In [9]:
location = "/home/markcollege/Desktop/CLICK_ME/Data_Science/Individual_DS_Project/season-1819_csv (missing_data).csv"
dataset = pd.read_csv(location)
dataset.isnull().sum()

Date        0
HomeTeam    1
AwayTeam    1
FTHG        1
FTAG        1
FTR         1
HTHG        1
HTAG        1
HTR         1
Referee     1
HS          1
AS          1
HST         1
AST         1
HF          1
AF          1
HC          1
AC          1
HY          1
AY          1
HR          1
AR          1
dtype: int64

Now since we got some missing values, we must remove them missing values from the dataset as it will make the dataset void. We will do this by using the dropna() function. This will remove all values that are null or empty.

In [10]:
dataset.dropna(inplace=True)
dataset.isnull().sum()

Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
Referee     0
HS          0
AS          0
HST         0
AST         0
HF          0
AF          0
HC          0
AC          0
HY          0
AY          0
HR          0
AR          0
dtype: int64

Another option that we could've used is to calculate either the mean, mode or median of the missing data and replace it with the missing values.

# Step 4: See Cathegorical Values

Because all algorithms are mathemically based, we cannot have any data that is a word, so then we have to change all word values into number values. So our first word value that needs to be changed is Manchester United so we then change Manchester United into a numeric value. 

In order to deal with this, we are going to use the LabelEncoder algorithm from the preprocessing section of sklearn. We the use the fit_transform. In this example we are going to change the home team and the away team into a numeric value,

In [11]:
#Before Change
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data_cathegorical = data.iloc[:,: -1].values
data_cathegorical

array([['2018-08-10', 'Man United', 'Leicester', ..., 2, 1, 0],
       ['2018-08-11', 'Bournemouth', 'Cardiff', ..., 1, 1, 0],
       ['2018-08-11', 'Fulham', 'Crystal Palace', ..., 1, 2, 0],
       ...,
       ['2019-03-10', 'Arsenal', 'Man United', ..., 2, 2, 0],
       ['2019-03-10', 'Chelsea', 'Wolves', ..., 1, 4, 0],
       ['2019-03-10', 'Liverpool', 'Burnley', ..., 2, 0, 0]], dtype=object)

In [12]:
#After Change
data_cathegorical[:,1] = label_encoder.fit_transform(data_cathegorical[:,1])
data_cathegorical[:,2] = label_encoder.fit_transform(data_cathegorical[:,2])
data_cathegorical

array([['2018-08-10', 13, 10, ..., 2, 1, 0],
       ['2018-08-11', 1, 4, ..., 1, 1, 0],
       ['2018-08-11', 8, 6, ..., 1, 2, 0],
       ...,
       ['2019-03-10', 0, 13, ..., 2, 2, 0],
       ['2019-03-10', 5, 19, ..., 1, 4, 0],
       ['2019-03-10', 11, 3, ..., 2, 0, 0]], dtype=object)

# Step 5 - Splitting the Data Sets

We then need to spit the dataset into two different datasets, a training set and a test set.

SciKit-learn recommends that the training set should have 70 - 80 % of the dataset and the remaining going into the test set to check for accuracy.

In [25]:
from sklearn.model_selection import train_test_split
X,y = np.arange(10).reshape((5,2)), range(5)
X

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

In [30]:
train_test_split(y,shuffle = False)

[[0, 1, 2], [3, 4]]

# Step 6 - Feature Scaling

Feature scaling is adjusting data that has different scales to avoid biases.

Examples of feature scalling is Data Normalisation and Data Standarisation.

Data normalisation is changing the values of numeric columns  to a common scale without distorting the differences in the range of values.

Data standarisation is obtaining  data from different sources and changing it into a generic format.

They're both rescaling techniques.

# When to Scale

You should normalise when the scale of the feature is irrevelant or misleading and you should not normalise when the scale is meaningful. For example K-means algorithm considers euclidean distance to be meaningful.